[Unit]
Description=PCF Service
After=network.target

[Service]
ExecStart=/home/pi/scales7.1/scales_submodule/vscales/bin/python /home/pi/scales7.1/scales_submodule/src/main_pcf.py
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
TimeoutStopSec=30